{%load static%}
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>챗봇</title>
</head>
<body>
    <div id="wrap" class="wrap">
        <div class="chatBox" id="chatBox">
            <div class="header">
                <div class="title-wrap">
                    <h1 class="title">SOTA 챗봇</h1>
                </div>
            </div>
            <!-- 챗봇 -->
            <div class="chat-bot">
                <div class="bot-profile">
                    <!-- 챗봇 이미지 -->
                    <div class="img" style="background: none;">
                        <img src="https://openclipart.org/image/800px/262355" alt="챗봇">
                    </div>
                    <!-- 챗봇 이름 -->
                    <div class="name">
                        챗봇
                    </div>
                </div>
                <div class="bot-talk">
                    <!-- 챗봇 말 -->
                    <div class="txt">
                        <div>안녕하세용</div>
                    </div>
                    <!-- 챗봇 말한시간 -->
                    <div class="time">
                        <div>오후5:10</div>
                    </div>
                </div>
            </div>
            <!-- 사람 -->
            <div class="customer">
                <div class="customer-wrap">
                    <!-- 사람 말 -->
                    <div class="txt">
                        <div>그래 안녕</div>
                    </div>
                    <!-- 사람 말한시간 -->
                    <div class="time">
                        <div>오후5:15</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>